[submodule "cgal"]
	path = cgal
	url = https://github.com/CGAL/cgal.git
[submodule "VTK"]
	path = VTK
	url = https://github.com/Kitware/VTK.git
[submodule "oce"]
	path = oce
	url = https://github.com/tpaviot/oce
[submodule "eigen"]
	path = eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "cgm"]
	path = cgm
	url = https://whymath@bitbucket.org/fathomteam/cgm.git
[submodule "p4est"]
	path = p4est
	url = https://github.com/cburstedde/p4est.git
[submodule "meshkit"]
	path = meshkit
	url = https://whymath@bitbucket.org/fathomteam/meshkit.git
[submodule "moab"]
	path = moab
	url = https://whymath@bitbucket.org/fathomteam/moab.git
[submodule "Trilinos"]
	path = Trilinos
	url = https://github.com/trilinos/Trilinos.git
[submodule "ParaView"]
	path = ParaView
	url = https://github.com/Kitware/ParaView.git
[submodule "vtkplotter"]
	path = vtkplotter
	url = https://github.com/marcomusy/vtkplotter.git
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "pymumps"]
	path = pymumps
	url = https://github.com/PyMumps/pymumps.git
[submodule "matplotlib-cpp"]
	path = matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "ResInsight"]
	path = ResInsight
	url = https://github.com/OPM/ResInsight
